<?xml version="1.0"?>
<!--
/**
 * @category    Tun2U
 * @package     Tun2U_AutoRelated
 * @author      Tun2U Team <info@tun2u.com>
 * @copyright   Copyright (c) 2019 Tun2U (https://www.tun2u.com)
 * @license     https://opensource.org/licenses/gpl-3.0.html  GNU General Public License (GPL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <Tun2U_AutoRelated>
            <general>
                <enabled>0</enabled>
                <limit>3</limit>
                <cache_lifetime>3600</cache_lifetime>
            </general>
        </Tun2U_AutoRelated>
    </default>
</config>
